// sass --watch --style expanded css/main.scss:css/main.css (change style to minifed in the future)

// Definings
@import "_variables.scss";
@import "_mixins.scss";

// Global Styles
@import "_global.scss";
 
#container {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#header {
    @include margins;
    
    // background: orange;    
    height: 120px;
    border-bottom: 1px solid gray;
    
    div {
        @include header-columns;
    }
    
    #headline {
        @include headline-style;
    }
    
    #intro {
        
    }
}

#main {
    .section {
        @include margins;
        position: relative;
        // overflow:hidden;
        // background: lightgray;
        // height: 120px;

        .title {
            @include section-title-style;
            border-bottom: 1px solid black;
        }
        
        .player-name {
            @include player-title-style;
            display: block;
            clear: left;
            margin-top: 20px;
        }
        
        .graph-descriptor {
            margin-top: 10px;
            margin-bottom: 3px;
            display: block;
            clear: left;
        }
        
        .graph {
            height: $bar-height;
            display: block;
            clear: left;
        }
        
        // each unit on the graph
        .graph .unit {
            float: left;
            height: $bar-height;
            margin-left: 1px;
        }
    }
}

.tippy-tooltip.aion-theme {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;  
}
